/*
Generated {{ i_name }}_{{ i_type }}
*/
INSTR_T create_{{ i_name }}_{{ inst_type }}_instr(const int a, const int b) {
    instruction_t *i = calloc(1, sizeof(instruction_t));

    i->type = {{ i_name }};
    ZVAL_INIT_{{ data_type }}(i->first, a);
    ZVAL_INIT_{{ data_type}}(i->second, b);

    return i;
}
/**/