
/*
Generated {{ inst_name }}_{{ inst_type }}
*/
INSTR_T create_I_{{ inst_name }}_{{ inst_type }}_instr(const int a, const int b) {
    instruction_t *i = calloc(1, sizeof(instruction_t));

    i->type = I_{{ inst_name }}_{{ inst_type }};
    ZVAL_INIT_{{ data_type }}(i->first, a);
    ZVAL_INIT_{{ data_type}}(i->second, b);

    return i;
}
/********************************************************************************/
