static inline void process_{{ i_name }}_{{ i_type }}instr(struct __stack_t *stack, instruction_t *instr, const int offset)
{
    if (ZVAL_IS_{{ d_type }}(instr->second) && ZVAL_IS_{{ d_type }}(instr->third)) {
        ZVAL_SET_INT(&kv_A(stack->data, stack->base_pointer + ZVAL_GET_INT(instr->first) - 1), ZVAL_GET_INT(instr->second) + ZVAL_GET_INT(instr->third));
	else
		// TODO: proper ERR handling	
}