
/*
Generated I_{{ inst_name }}_{{ inst_type }}
*/
			case I_{{ inst_name }}_{{ inst_type }}:  
				process_I_{{ inst_name }}_{{ inst_type }}_instr(struct __stack_t *stack, instruction_t *instr, const int offset);
				return actual_addr + 1; 
			break;
/********************************************************************************/