
/*
Generated I_{{ inst_name }}_{{ inst_type }}
*/
static inline void process_I_{{ inst_name }}_{{ inst_type }}instr(struct __stack_t *stack, instruction_t *instr, const int offset)
{
    if (ZVAL_IS_{{ data_type }}(instr->second) && ZVAL_IS_{{ data_type }}(instr->third)) {
        ZVAL_SET_{{ data_type }}(&kv_A(stack->data, stack->base_pointer + ZVAL_GET_{{ data_type }}(instr->first) - 1), ZVAL_GET_{{ data_type }}(instr->second) {{proc_op}} ZVAL_GET_{{ data_type }}(instr->third));
	}else
		return;	
}
/********************************************************************************/
